# copia questo file in ".env" e inserisci le credenziali vere

SECRET_KEY=changeme

# MongoDB
MONGODB_HOST=mongo-safeclaim.aevorastudios.com
MONGODB_PORT=27017
MONGODB_USERNAME=safeclaim
MONGODB_PASSWORD=0tHz31nhJ2hDOIccHehWamwNH8ItCklyZHGIISuE+tM=
MONGODB_DB=safeclaim_mongo
# (alternativamente è possibile impostare MONGODB_URI direttamente)

# MySQL
MYSQL_HOST=mysql-safeclaim.aevorastudios.com
MYSQL_PORT=3306
MYSQL_USERNAME=safeclaim
MYSQL_PASSWORD=0tHz31nhJ2hDOIccHehWamwNH8ItCklyZHGIISuE+tM=
MYSQL_DB=safeclaim_db
